body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-width: 320px;
    max-width: 1328px;
}

.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f1f1f1;
    width: 80%;
    height: 85%;
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s;
}

.form-container .login-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}

.form-container .login-container > h2 {
    text-align:center;
    font-size: 2rem;
    margin: 10px 0 0 0;
}

.form-container .login-container > p,
span {
    margin: 5px 0;
    text-align: center;
    color: #555;
}

.form-container .login-container label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
}

.form-container .login-container input.input {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container .login-container input.input:focus {
    outline: solid 1px #0099ff;
}

.form-container .login-container .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container a {
    color: #990000;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
    color: red;
}

.providers {
    display: flex;
}

.providers-icon {
    display: none;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px;
    color: #fff;
}

.providers {
    margin: 10px 0;
}

.btn-login {
    background: #202020;
}

.btn-google {
    background: #D24836;
    padding: 10px;
}

.btn-google:hover {
    background: #d00423;
}

.btn-facebook {
    background: #385490;
    padding: 10px;
}

.btn-facebook:hover {
    background: #343280;
}

.btn-twitter {
    background: #00acee;
    padding: 10px;
}

.btn-twitter:hover {
    background: #00a9aa;
}

.welcome-screen-container {
  width: 470px;
  height: 100%;
  background-image: url('./assets/welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 970px) {
    .welcome-screen-container {
        width: 300px;
    }

}

@media screen and (max-width: 770px) {
    .welcome-screen-container {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .form-container {
        width: 310px;
    }

    .form-container .login-container > h2 {
        text-align:center;
        font-size: 2.5rem;
        margin: 17px 0 0;
    }

    .providers {
        display: none;
    }

    .providers-icon {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 5px;
    }

    .providers-icon img {
        width: 50px;
        margin: 10px;
        cursor: pointer;
    }


}
